<mat-card>
  <form [formGroup]="form" (ngSubmit)="search()">
    <mat-form-field style="width: 60%; margin-left: 3%">
      <input matInput placeholder="Search" formControlName="search" required>
      <mat-error *ngIf="this.form.get('search').invalid">Required</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 15%; margin-left: 3%">
      <input matInput placeholder="# of Results" formControlName="resultNum" type="number" min="1" max="20" required>
      <mat-error *ngIf="this.form.get('resultNum').invalid">Required</mat-error>
    </mat-form-field>
    <button style="margin-left: 3%" mat-raised-button class="submit-btn"  mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Search Articles</button>
    <mat-form-field style="width: 20%; margin-left: 3%">
      <input matInput placeholder="Essay Word Count" formControlName="essayCount" type="number" min="200">
    </mat-form-field>
    <button (click)="essay=true" style="margin-left: 3%" class="submit-btn"  mat-raised-button mat-raised-button  type="submit"  color="primary" [disabled]="!form.valid">Generate Essay</button>
  </form>
  <button mat-raised-button class="download" (click)="saveFile()" [disabled]="searchResults.length == 0" style="margin-bottom: 5px"> Download </button>
</mat-card>
  
<div *ngFor="let result of searchResults">
  <mat-card>
      <mat-card-title>
        {{result.url}}
      </mat-card-title>
    <mat-card-content>
      {{result.summary}}
    </mat-card-content>
    <mat-card-actions>
      <div *ngIf="!result.expanded">
        <button mat-button (click)="expandResult(result)">Expand</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

